* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat';
}


/* navbar */

.navbar {
    background-color: #171717;
}

.nav-item {
    margin-right: 30px;
}

.nav-item.active a {
    font-weight: 600;
    color: #F9B234 !important;
}

.nav-link span {
    color: #F9B234 !important;
}


/* end navbar */


/* carousel */

.carousel {
    background-color: #F9B234;
    color: white;
}

.carousel p {
    font-family: 'Montserrat';
    font-weight: 200;
    margin: 25px 0 50px;
}

.carousel h1 {
    font-family: 'lora';
    margin-top: 65px;
    font-size: 48px;
}

.carousel-inner .carousel-item img {
    background-repeat: no-repeat;
    width: 236px;
    height: 340px;
    margin: 45px;
}


/* end carousel */


/* brand */

.brand {
    margin: 60px auto;
}


/* end brand */


/* koleksi */

.koleksi {
    background-color: #F6F7FB;
    padding: 50px 0 50px;
}

.koleksi h1,
.designer h1 {
    font-size: 28px;
    font-family: 'lora';
    color: #F9B234;
    font-weight: bold;
}

.koleksi p,
.designer p {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #B7B7B7;
}

.koleksi .figure h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    color: #171717;
}

.koleksi .figure p {
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 18px;
    color: #B7B7B7;
}

.figure {
    position: relative;
}

.figure a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 85px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.figure a:hover,
.figure:hover p {
    opacity: 1;
    color: #F9B234;
}


/* end koleksi */


/* designer */

.designer {
    padding: 50px 0 50px;
}


/* end designer */


/* footer */

footer {
    background-color: #171717;
    font-weight: 21px;
    color: white;
}


/* end footer */